import React from "react";
import { connect, withProvider } from "@sy/framework";
import { Layout, Spin } from "@sy/framework/lib/widget";
import { tableModel } from "@sy/platform/lib/components";
import currentModel from "../models";
import TableSearchBar from "../components/tableSearchBar";
import List from "../components/list";
import lodash from "lodash";
const { Header, Content } = Layout;

function {{name}}(props) {
    const { loading } = props;
    return (
        <div className="divPage ContentWrapper">
            <Spin
                loading={loading}
            >
                <div className="ContentInner">
                    <Layout>
                        <Header>
                            <TableSearchBar />
                        </Header>
                        <Content>
                            <List />
                        </Content>
                    </Layout>
                </div>
            </Spin>
        </div>
    );
}

const mapStateToProps = ({ current, tableConfig, loading }) => {
    return {
        ...current,
        tableConfig,
        loading
    };
};

export default withProvider(
    connect(mapStateToProps)(React.memo(BureauArchive)),
    [
        { namespace: "current", model: lodash.cloneDeep(currentModel) },
        { namespace: "tableConfig", model: lodash.cloneDeep(tableModel) }
    ]
);
